*.egg-info/
*.pyc
.coverage*
.eggs/
.hypothesis/
.pytest_cache/
.mypy_cache/
.idea/

flake8_report.txt
junit.xml
requirements-pinned.txt
requirements.txt
test-requirements-pinned.txt

.asv

__pycache__/
coverage.xml
htmlcov/
docs/_build
pip-wheel-metadata/

# dask.distributed tests
dask-worker-space/
_test_worker-*

#local
build/
dist/
venv/