language: python

# needed for python>=3.7
dist: xenial

python:
  - 3.6
  - 3.7

env:
  - KARTOTHEK_ARROW_VERSION=0.12.1
  - KARTOTHEK_ARROW_VERSION=0.13.0

before_install:
  - pip install --upgrade pip
  - pip install pip-tools
  - ./compile_requirements.sh
  - python setup.py bdist_wheel

install:
  - pip install -r test-requirements-pinned.txt
  - pip install --no-deps dist/*

# If docs break or formatting, linting is off, I'd like to know immediately
before_script:
  - pip freeze
  - pip install pre-commit && pre-commit run -a
  - python setup.py docs

script:
  - pytest
