language: python

# needed for python>=3.7
dist: xenial

python:
  - 3.6
  - 3.7

env:
  global:
    # personal github API access token of crepererum (Marco Neumann)
    - GITHUB_CLIENT_ID=32eb43d9e96045689676
    # GITHUB_CLIENT_SECRET=...
    - secure: "MvdUzU2BrcgAKWjeeF0X2ajZ7fNpn5373edG2/bUXAsBImCUhSHxS33Pzp9pwSjxAxkhFW+Ic5FUg9JpxS6C2m+BxgQry43YHizNZY6yBaM1i7Tm+LXZJv68ppUdkSVRhnm0aAxz+TLa+lYCKyc2H5DmmF/R8d1FiPXWtA/9xQItV4ME9G+6s6VxuZtpUpndUYdZWhBzFQUIQh9vn9ymoDww7NRKYEnYQbBtyZoIS9aZC1zAcYfuUjxri0LL/UpDm+MszAH7VTJwGdjOgFHmAsJzHw7irYLBOxtEc3PvRB2EvLh0QxJpcWXw/KKie9xwtJBqWc+l+aXaWUYKQ5dyrZ6c/Q9RkBV0aK3680ri2WY6RGTxQVPIQTq5XvacsJ5b/S9UwdiIrZFjSI/kWtgXLFUoqiQiBfCvWBw5/lMY9Qv7SeNU2MzS6Sbz8Igki6gNQl9AaGuCcIBl/UGus3wmZDm8WppKgh0EMEA1sP1CsuBUNm9+VK1UUkgNhcDP7Ac6F6hIPHcH8mCsjU8CAyaGVyQiJGoghSCjgDAjIhT3q5YKzFdBtgMZGvP6k0Wl1iE7Pr54qyrEiOYY9bDz7WN9Kl41lUJU5A5F4Y3BkFrWDXCEy7se/HgqpWft+taMVZxrXaZ1N8pv0ahEfbBVZL04rnw4+hWO9HeFBqFKlu23czE="

  matrix:
    # required builds
    - PIP_COMPILE_ARGS="-P pyarrow==0.12.1 -P dask<2.2.0"
    - PIP_COMPILE_ARGS="-P pyarrow==0.13.0"
    - PIP_COMPILE_ARGS="-P pyarrow==0.14.1"

    # optional builds
    - PIP_COMPILE_ARGS="-P pyarrow==0.13.0" NUMFOCUS_NIGHTLY=1
    - ARROW_NIGHTLY=1

before_install:
  - ./ci/before_install.sh

install:
  - pip install -r test-requirements-pinned.txt
  - pip install --no-deps dist/*

# If docs break or formatting, linting is off, I'd like to know immediately
before_script:
  - pip freeze
  - pip install pre-commit && pre-commit run -a

script:
  - pytest --cov kartothek --cov-report xml --cov-report html
  - python setup.py docs

after_success:
  - pip install codecov
  - codecov

matrix:
  allow_failures:
    - env: ARROW_NIGHTLY=1
    - env: PIP_COMPILE_ARGS="-P pyarrow==0.13.0" NUMFOCUS_NIGHTLY=1
  include:
    - name: "osx + builtin python3"
      os: osx
      language: sh
      env:
        - PIP_COMPILE_ARGS="-P pyarrow==0.13.0"
      before_install:
        - python3 -m pip install --upgrade virtualenv
        - virtualenv -p python3 "$HOME/ktk_venv"
        - source "$HOME/ktk_venv/bin/activate"
        - ./ci/before_install.sh

deploy:
  provider: pypi
  user: fjetter
  password:
    secure: pO3DOtJa2xrqRWPUutUpF44veWQ34MoiAHLDXps+g//ZHLMqcdZ4YX2M4eHDUSDA9kqd0kc1Rj0un6mPzcKVq2c5AsceNT4qh0eojlStfqGh4Lr5EsfIs7nsrK+gtpKdvogECHxv+Rz07nFXKPqh2TGuIwiHmSVQ56Mo89S1xGD66mqEJf7MTyIM2vo/n9Bs4nWYapqDWs2ExkVfXfc1oasEyled3PF7NdtBokWhQmFcULBSunh57hFtPOuD4v2WyhAdnBR3ivzDYQS7n9+lOO6cdkdkZy0Agm0+FdP+18GFFcwHAamIPEAspfmI9+h+/3pm5TvUp5pU+lvuUtypp3eYt20AIYjmqUdDj8HHGSYINl9ef4zlQu+ARFWlO/+B8gtWjsBHtaJIq/wsBNsAJjjLZByHZwjzm+NQKTP7z18EtIhNqjIb/v/6Qgapo6BDjbbVajFLtj5esLcAAhg8Hw+wzoNxrOSnALDUiQd0Tro1DnXkl+WrTKtz0pu4h7yKpQiwOS6hv4ltjDyL7gyW+N9O2yAJBH8r6aI1UjyXyAO57v/GXjjF7JOTEnl9lvEufBFwnQYTjcoSo0bupXRELz1ytabk3IP5Z7meoAoA73DdyPYSltZx88SuP7jACZOjkXjOLrJi02V/vz8+bMl+I8M5MvPoTnLY7cn1cjZv4BU=
  on:
    tags: true
  distributions: "sdist bdist_wheel"
  skip_existing: true
