# Test Code Dependencies
distributed!=2021.5.1,!=2021.6.0 # gh475 - 2021.5.1 and 2021.6.0 broke ci, omit those versions
pytz
cloudpickle
freezegun

# Test Framework
hypothesis
pytest>=4.5.0
pytest-cov
pytest-mock
setuptools_scm

# GitHub CI
pandoc

# CLI
ipython

# ASV // Benchmark
asv
