dask[dataframe]
decorator
msgpack-python>=0.5.2
# Currently dask and numpy==1.16.0 clash
numpy!=1.15.0,!=1.16.0
pandas>=0.23.0, !=1.0.0
pyarrow>=0.17.1, <3
simplejson
simplekv
storefact
toolz
typing_extensions # Some backports of the py3.8 typing module
urlquote>=1.1.3
zstandard
attrs
click
prompt-toolkit
pyyaml
