# Test Code Dependencies
distributed
pytz
toolz

# Test Framework
hypothesis<5.2.0 # See gh-205
pytest>=4.5.0
pytest-cov
pytest-flake8
pytest-mock
setuptools_scm

# Benchmarks
asv

# Documentation
sphinx
sphinx_rtd_theme
IPython

# Formatting / Checking
pre-commit
flake8-mutable
