# Test Code Dependencies
distributed
pytz
cloudpickle
freezegun

# Test Framework
hypothesis
pytest>=4.5.0
pytest-cov
pytest-mock
setuptools_scm

# Benchmarks
asv

# Documentation
sphinx
sphinx_rtd_theme
sphinx-click
IPython

# Formatting / Checking
black==19.10b0
blacken-docs==1.7.0
flake8==3.8.3
isort==4.3.21
mypy==0.780
pre-commit
flake8-mutable

# GitHub CI
pandoc
