dask[dataframe]
decorator
msgpack>=0.5.2
# Currently dask and numpy==1.16.0 clash
numpy!=1.15.0,!=1.16.0
pandas>=0.23.0
pyarrow>=0.11.1, <0.14.0 # Keep upper bound pinned until we see non-breaking releases in the future
simplejson
simplekv
storefact
zstandard
