# Test Code Dependencies
distributed
pytz
cloudpickle
freezegun

# Test Framework
hypothesis
pytest>=4.5.0
pytest-cov
pytest-mock
setuptools-scm

# Benchmarks
asv

# Documentation
sphinx<3.2.0 #bug with sphinx3.2.0, upstreambugID#8096
sphinx_rtd_theme
sphinx-click
IPython

# Formatting / Checking
pre-commit
flake8-mutable
